[Unit]
Description=tunneldigger tunnelling network daemon using l2tpv3
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/home/tunneldigger/env/bin/python /home/tunneldigger/tunneldigger/broker/l2tp_broker.py /home/tunneldigger/tunneldigger/broker/l2tp_broker.cfg
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
