[broker]
; IP address the broker will listen and accept tunnels on
address=127.0.0.1
; Ports where the broker will listen on
port=53,123,8942
; Interface with that IP address (optional)
interface=lo
; Maximum number of tunnels that will be allowed by the broker.
; On a cheap VPS, more than 256 tunnels usually do not make sense.
; Physical machines can take more.
max_tunnels=256
; Tunnel id base
tunnel_id_base=100
; Reject connections if there are less than N seconds since the last connection.
; Can be less than a second (e.g., 0.1). Note that this is applied *per broker port*.
; Disabled if set to 0.
connection_rate_limit=0.2
; Reject connection if an IP address connects more than COUNT times in TIME seconds to
; the same broker port. Also runs "broker.connection-rate-limit" hook (e.g. to block client via iptables).
; Disabled when at least one value is 0 (the default).
;connection_rate_limit_per_ip_count=20
;connection_rate_limit_per_ip_time=60
; Set PMTU to a fixed value.  Use 0 for automatic PMTU discovery.  A non-0 value also disables
; PMTU discovery on the client side, by having the server not respond to client-side PMTU
; discovery probes.
pmtu=0

[log]
; Verbosity
verbosity=DEBUG
; Should IP addresses be logged or not
log_ip_addresses=false

[hooks]
; Note that hooks are called asynchonously!

; Arguments to the session.{up,pre-down,down} hooks are as follows:
;
;    <tunnel_id> <session_id> <interface> <mtu> <endpoint_ip> <endpoint_port> <local_port>
;
; Arguments to the session.mtu-changed hook are as follows:
;
;    <tunnel_id> <session_id> <interface> <old_mtu> <new_mtu>
;

; Called after the tunnel interface goes up
session.up=
; Called just before the tunnel interface goes down
; (However, due to hooks being asynchonous, the hook may actually execute after the interface was
; already removed.)
session.pre-down=
; Called after the tunnel interface goes down
session.down=
; Called after the tunnel MTU gets changed because of PMTU discovery
session.mtu-changed=
; Called when the tunnel connection rate per ip limit is exceeded
broker.connection-rate-limit=
